@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

html {
    font-family: 'Afacad', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
    color: #191a20dc;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 3rem;
}

.boxTitles {
    color: white;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0.8rem;
    position: relative;
    right: 13%;
}

.navIcon {
color: white;
font-size: 32px;
transition: all 0.5s ease;
}

.navIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: rgba(28,236,228,1);
}

.saludo {
    color: white;
    text-align: center;
}

.linkWrap, .passWrap, .weatherWrap, .weatherHours {
    width: 280px;
    background-color: #191a20dc;
    padding: 1.5rem 2rem;
    border-radius: 14px;
    box-shadow: 0 0 3px white;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    max-height: 70%;
}

.linkInput {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    border: solid 1px grey;
    outline: none;
    transition: all 0.4s ease;
}

.linkInput:focus {
    box-sizing: border-box;
    border-radius: 7px;
    border: solid 2px rgba(28,236,228,1)
}

.createLinkBtn {
    box-sizing: border-box;
    background-image: linear-gradient(140deg, rgba(98,124,219,1) 0%, rgba(42,178,220,1) 49%, rgba(28,236,228,1) 100%);
    color: white;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.8rem;
    font-family: 'Afacad', sans-serif;
    border: none;
    border-radius: 7px;
    transition: all 0.5s ease;
}

.createLinkBtn:hover {
    cursor: pointer;
    border-radius: 14px;
    background-image: linear-gradient(290deg, rgba(98,124,219,1) 0%, rgba(42,178,220,1) 49%, rgba(28,236,228,1) 100%);
    transition: all 0.5s ease;
}

.createdLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-height: 60%;
    gap: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 1.5rem 1rem 1.5rem 0;
    overflow-y: scroll;
}

.linkCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

.linkTitle {
    color: #191a20dc;
}

.bi-x-lg {
    color: #191a20dc;;
    margin-left: 0.5rem;
}

.bi-x-lg:hover {
    cursor: pointer;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.passBox, .passInputWrap, .timeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    color: white;
}

.passInput {
    margin-bottom: 1rem;
    border-radius: 7px;
    border: solid 1px grey;
    outline: none;
    padding: 0.3rem;
}

.createdPass {
    width: 100%;
}

.newPassWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 0.8rem;
    border-bottom: solid 1px white;
}

.newPass {
    width: 75%;
    text-wrap: wrap;
    color: white;
}

.copy {
    box-sizing: border-box;
    border: none;
    padding: 0.4rem;
    border-radius: 5px;
}

.copy:hover {
    cursor: pointer;
}

.bi-clipboard-check {
    color: rgb(98,124,219);
}

.timeWrap {
    background: rgb(98,124,219);
    background: linear-gradient(133deg, rgba(98,124,219,1) 0%, rgba(42,178,220,1) 49%, rgba(28,236,228,1) 100%);
    color: white;
    padding: 1rem;
    border-radius: 14px;
}

.timeText {
    font-size: 38px;
    font-weight: 600;
    margin: 0;
}

.dateText {
    font-size: 22px;
    margin: 0 0 1rem 0;
}

.weather {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.weatherWrap {
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.weatherBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weatherCond {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cityText {
    margin-bottom: 0;
    margin-top: 0.3rem;
    font-size: 30px;
}

.currentText {
    margin-top: 0;
    font-size: 22px;
}

.tempText, .currentText {
    font-weight: 600;
}

.tempText {
    font-size: 32px;
}

.condText {
    margin: 0.2rem;
    font-size: 14px;
}

.weatherHours {
    max-width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: thin;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.weatherHours::-webkit-scrollbar {
    width: 1rem;
}
.weatherHours::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px white;
}
.weatherHours::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: white;
    outline: 1px solid darkgrey;
}

.weatherCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardText {
    margin: 0.2rem;
    color: white;
}